#===========================================================================
# SCENARIO CONFIGURATION
#===========================================================================
Scenario.name = ProphetFQ_%%Group.forwardingStrategy%%_%%Group.queueType%%
Scenario.simulateConnections = false
Scenario.updateInterval = 0.1
Scenario.endTime = 16981816
Report.warmup = 0
Scenario.nrofHostGroups = 1

#===========================================================================
# INTERFACE SETTINGS
#===========================================================================
btInterface.type = SimpleBroadcastInterface
btInterface.transmitSpeed = 250k
btInterface.transmitRange = 20
btInterface.scanInterval = 120

#===========================================================================
# ROUTING & BATCH PARAMETERS
#===========================================================================
[ Group ]
Group.router = ProphetForwardingQueuePolicy

Group.forwardingStrategy = [GRTRMAX; GRTRSORT; GRTR; COIN]
Group.queueType = [FIFO; MOFO; SHLI]
Group.coinProbability = 0.5

Group.bufferSize = 5M
Group.waitTime = 0, 120
Group.msgTtl = 172800 
Group.nrofInterfaces = 1
Group.interface1 = btInterface

ProphetRouter.secondsInTimeUnit = 30
ProphetRouter.beta = 0.25

#===========================================================================
# MOVEMENT & HOST SETTINGS
#===========================================================================
[ Group1 ]
Group1.groupID = A
Group1.nrofHosts = 97 
Group1.movementModel = StationaryMovement 
Group1.nodeLocation = 10, 10

#===========================================================================
# EVENT CONFIGURATION
#===========================================================================
Events.nrof = 2

Events1.class = ExternalEventsQueue
Events1.filePath = data/events/RealityConnectionTraceFinal.txt
Events1.preload = 10000

Events2.class = MessageEventGenerator
# Pesan dibuat setiap 1-2 jam sekali 
Events2.interval = 3600, 7200 
Events2.size = 10k, 50k
Events2.hosts = 0, 96
Events2.prefix = M

#===========================================================================
# REPORTS SETTINGS
#===========================================================================
Report.nrofReports = 1
Report.reportDir = reports/BatchReality/%%Group.forwardingStrategy%%_%%Group.queueType%%
Report.report1 = MessageStatsReport